@charset "UTF-8";
body{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-style: italic;
	background-color: #FFEF99;
	color: #407405;

}

header{
	text-align: center;
}

nav a{
	color: #FFFFFF;
	text-decoration: none;
}
nav a:hover{
	color: #FFF000;
}
nav li{
	border:solid think black;
	background-color:#999;
	color:#fff;
    text-align:center;
    list-style: none;
    padding: 0.5em;
    margin: 0.5em;
}

#menu-iz{
	width: 25%;
	margin-top: 10%;
	float: left;
}
#content{
	width: 65%;
	float: left;
}
#content a{
	text-decoration: none;
	color: #779FD3;
}
#content a:hover{
	color: #EF9600;
}

#promo-ad{
	cursor: pointer;
}
#promo{
	display: none;
}
#menu-top{
	display: inline-block;
}
#menu-top li{
	width:10em;
	display: inline-block;
    border-radius: 0.5em;
    border: solid 2px black;
    box-shadow: rgba(0,0,0,0.2) 0.5em 0.5em 0.3em;
    text-align:center;
}

#dialog, #pagina{
	font-size: 0.5em;
}
.ui-dialog-titlebar{
	font-size: 0.2em;
}
#tb-rates{
	border:solid 1px #999999;
	border-collapse:collapse;
	font-size:1em;
}
#tb-rates th, #tb-rates td{
	border:solid 1px #999999;
	background-color:#FEFEFE;
	text-align:center;
	padding:2%;
	width:20%;
}
#tb-rates th:first-child, #tb-rates td:first-child{
	width:10%;
}
#tb-rates th{
	color:#900;
	background-color:#FFC;
}
#tb-rates td.vacio{
	background-color:#999;
}
#mensa{
	display:none;
}